<section class="section">
    <h2>Inside a Template Driven Forms</h2>
    <form #form="ngForm">
      <editable name="editable" [styles]="styles()" ngModel></editable>
    </form>
    <pre>{{ form.value | json }}</pre>
  </section>

  <section class="section">
    <h2>One-way Data-binding</h2>
    <editable name="editable1" [styles]="styles()" [ngModel]="content"></editable>
    <div class="form-controls">
      <p><label for="content">change the content:</label><br>
      <input type="text" name="content1" [(ngModel)]="content" /></p>
    </div>
    <pre>{{ content | json }}</pre>
  </section>

  <section class="section">
    <h2>Two-way Data-binding</h2>
    <editable name="editable2" [styles]="styles()" [(ngModel)]="content1"></editable>
    <pre>{{ content1 | json }}</pre>
  </section>